body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header-top {
  height: 65px;
  line-height: 60px;
  padding: 0;
}

.main-content {
  padding: 20px;
  background: #f0f2f5;
  flex: 1;
  overflow-y: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
  color: white;
  font-family: 'Times New Roman', serif;
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
}

.nav span {
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.nav span:hover {
  text-decoration: underline;
}

.menu-bar{
  font-family: 'Times New Roman', serif;
  width: 180px;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}